bin
out
build
target
build-cache
test-output
jitwatch.out
.DS_Store
.cifuzz-corpus
.classpath
.settings
.project
.gradle
.kotlin
.vscode
.idea
*.iml
*.hprof
crash-*
hs_err_pid*.log
replay_pid*.log
simulator/src/main/resources/application.conf

# .NET build artifacts
[Oo]bj/
[Bb]in/
*.dll
*.pdb
*.cache
*.json
!package.json
!tsconfig.json
!.vscode/*.json
